/*
    Name: Reily Stanford & Enrique Tejeda
    Date: 3/1/2021
    File: mem.css
*/
input{
    margin: 0 .5rem .5rem .5rem;
}

button{
    margin-top: 1rem;
}

.card {
    width: 128px;
    height: 128px;
    border: 1px solid gray;
    font-size: 3em;
    text-align: center;
    margin: 2px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid gray;
}

.board {
    user-select: none;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px;
    /* Changed the width of the board to better fit the cards */
    width: 665px;
}

img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    width: 125px;
    height: 125px;
}

.open {
    transition: transform 250ms ease-out;
    transform: rotateY(0deg);
}

.closed {
    transform: rotateY(90deg);
    transition: transform 250ms ease-in;
}